<div id="field-controls" class="field-controls hidden">
  <div class="field-panel">
    <div class="field-title">FIELD</div>

    <div class="dial">
      <label>Energy</label>
      <input type="range" min="0" max="100" value="40" id="dial-energy">
    </div>

    <div class="dial">
      <label>Spectrum</label>
      <input type="range" min="0" max="120" value="60" id="dial-spectrum">
    </div>

    <div class="dial">
      <label>Clusters</label>
      <input type="range" min="0" max="40" value="18" id="dial-cluster">
    </div>

    <div class="dial">
      <label>Density</label>
      <input type="range" min="50" max="300" value="160" id="dial-density">
    </div>

    <div class="hint">Press <span>.</span> to toggle</div>
  </div>
</div>
